@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #fed600;
  --black-color: #000;
  --white-color: #fff;
  --light-bakground-color: #fffae1;
  --font-family: "Montserrat", sans-serif;
  --font-optical-sizing: auto;
  --section-padding: 60px 0px;
}

/* Global Styling Here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.3;
}
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3 !important;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  line-height: 1.2;
}
p {
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}
.site-button {
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.6s ease;
  line-height: 1;
}
.primary-button {
  background-color: var(--primary-color);
  color: var(--black-color);
}
.secondary-button {
  background-color: var(--black-color);
  color: var(--primary-color);
}
.site-button:active {
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--black-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--light-bakground-color);
}
::-webkit-scrollbar-button {
  display: none;
}


/* //Navbar */
   
.navbar {

  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 10;
   
  
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.3rem;
}
.offcanvas-body ul li a {
  font-size: 1.2rem;
  font-family: var(--font-family);
}
#nav-btn {
  background-color: var(--primary-color);
  padding: 12px 20px !important;
  border-radius: 5px !important;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 700 !important;
}
.logo {
  max-width: 190px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
.logo img {
  width: 100%; /* Make the image take the full width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Scale the image to fit within the container */
}

/* Hero Section Here */
.hero-section {
  min-height: 85vh;
  background-image: url("images/hero-image.webp");
  /* background-image: url(images/casestudies.webp); */
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  color: white;
  display: grid;
  place-items: center;
  z-index: 0;
}
.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hero-content {
  max-width: 700px;
}
.hero-content p {
  margin: 20px 0 40px 0;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Trusted By Styling Here */
.trusted-by-section {
  min-height: 15vh;
  display: flex;
}
.trusted-logo {
  align-items: center;
  transition-timing-function: linear;
}
.trusted-logo img {
  width: 150px;
  height: 100%;
  user-select: none;
}

/* About Section Styling Here */
.about-section {
  padding: 60px 0 0 0;
  background-color: var(--light-bakground-color);
}
.about-section p {
  margin-top: 10px;
}
.about-section img {
  width: 100%;
  border-radius: 15px;
}

/* Services Section Styling Here */
/* BIGNUMBER */

.big-numbers {
  /* background-color: var(--light-bakground-color); */
  background-color: rgb(0, 0, 0);
  padding: var(--section-padding);
}

.big-numbers h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.card-container {
  width: 100%;
  background-color: aqua;
}

.cards {
  /* background-color: var(--primary-color); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  border-radius: 15px;

  gap: 20px;
}

.cards .clients {
  text-align: center;
  border: 1px solid gray;
  padding: 20px 0px;
  border-radius: 10px;
  
}
.cards .clients div:hover {
  transform: scale(1.1);
  
}
.cards .clients p {
  line-height: 1;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.cards .clients span {
  font-family: var(--font-family);
  line-height: 1;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.icon-card {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  border-radius: px;
  gap: 20px;
  padding: 20px 20px;
  
}
.icon-card .card {
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 20px 0px;
  border-radius: 10px;

 
   
}
.icon-card .card:hover {
 
scale: 1;
 
   
}
 .card p{
   color: var(--white-color);
   line-height: 1;
   font-weight: 700;
   font-size: 1.2rem;
 }



.our-achivment-card {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: -75px;
}
.our-achivment-card div {
  text-align: center;
}
.our-achivment-card div p {
  line-height: 1;
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.our-achivment-card div span {
  font-family: var(--font-family);
  line-height: 1;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Featured work Styling Section Here */
.feature-work-section {
  background-color: var(--black-color);
  padding: 140px 0 80px 0;
  color: var(--white-color);
}
.featured-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.featured-projects .featured-project {
  border-radius: 15px;
  border: 1px solid var(--white-color);
  overflow: hidden;
}
.featured-projects .featured-project img {
  width: 100%;
  height: auto;
}
.featured-projects .featured-project div {
  padding: 25px;
}
.featured-projects .featured-project div h4 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
  color: var(--primary-color);
}
.featured-projects .featured-project div p {
  margin-bottom: 0;
  margin-top: 10px;
}

/* Our Services Section Styling Here */
.our-services-section {
  background-color: var(--light-bakground-color);
  padding: var(--section-padding);
}
.services-card h4 {
  font-size: 2rem;
  font-weight: 700;
}
.services-card p {
  margin-top: 10px;
  margin-bottom: 0;
}
.services-card img {
  width: 100%;
  border-radius: 15px;
}
.services-card .related-services {
  margin-top: 20px;
}
.services-card .related-services p {
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-wrap: nowrap;
  line-height: 1;
}
.services-card .related-services {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

/* Casestudies styling here */
.case-studies-section {
  padding: var(--section-padding);
}
.casestudy-card {
  border: 1px solid var(--black-color);
  border-radius: 15px;
  padding: 50px 0px 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--light-bakground-color);
  min-height: 500px;
}
.case-content h4 {
  font-weight: 700;
  font-size: 1.8rem;
}
.case-content h5 {
  font-weight: 600;
  font-size: 1.2rem;
}
.case-content p {
  font-size: 1rem;
}
.case-tags {
  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
  margin: 10px 0 20px 0;
}
.case-tags p {
  background-color: var(--black-color);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 0;
  text-wrap: nowrap;
  line-height: 1;
}
.case-image {
  position: relative;
  height: 100%;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}
.case-image img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 2;
}
.case-image img:last-child {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 90px;
  z-index: 3;
}

/* Why section Styling Here */
.why-section {
  padding: var(--section-padding);
  background-color: var(--black-color);
}
.why-content h3 {
  color: var(--white-color);
  line-height: 1.3;
}
.why-content p {
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 0.8rem;
}
.why-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}
.why-cards h4 {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 1.25rem;
  transition: all 0.6 ease;
}
.why-section .why-cards p {
  color: var(--white-color);
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.why-section .why-cards img {
  width: 50px;
  height: 50px;
}
.why-cards div:hover h4 {
  color: var(--primary-color);
}
.why-cards div {
  transition: all 0.6s ease;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 15px;
}
.why-cards div:hover {
  transform: scale(1.1);
}

/* Testimonial section tyling here */
.testimonial-section {
  padding: var(--section-padding);
  position: relative;
}
.testimonial-cards::before {
  content: "";
  width: 10%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.testimonial-cards::after {
  content: "";
  width: 10%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.testimonial-section .rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 15px;
  gap: 15px;
}

.testimonial-section .rating img {
  width: 25px;
  height: 25px;
}
.testimonial-section .rating p {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1;
}
.left-testimonial-cards > div,
.right-testimonial-cards > div {
  border: 1px solid var(--black-color);
  border-radius: 15px;
  padding: 30px;
}
.left-testimonial-cards > div .testimonial-quote svg,
.right-testimonial-cards > div .testimonial-quote svg {
  width: 30px;
  height: 30px;
}
.left-testimonial-cards > div > p,
.right-testimonial-cards > div > p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}
.client-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.client-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.client-name p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}
.client-name span {
  font-family: var(--font-family);
  font-size: 0.9rem;
}
.left-testimonial-cards,
.right-testimonial-cards {
  transition-timing-function: linear;
}
.right-testimonial-cards {
  margin-top: 20px;
}

/* How it work section styling */
.how-it-work-section {
  background-color: var(--light-bakground-color);
  padding: var(--section-padding);
}
.our-process-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.5rem;
}
.process-card {
  position: relative;
  text-align: center;
}
.process-card div:first-child {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  transition: 0.6s ease;
}
.process-card div:first-child svg {
  width: 35px;
  height: 35px;
}
.process-card h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
.process-card p {
  font-size: 1rem;
  margin-bottom: 0;
}
.process-card::before {
  position: absolute;
  content: "";
  border-bottom: 2px dashed var(--black-color);
  width: 100%;
  top: 35px;
  left: calc(50% + 38px);
}
.process-card:last-child::before {
  content: "";
  width: 0%;
  border: none;
}
.process-card:hover div:first-child {
  background-color: var(--white-color);
  transform: scale(1.1);
}

/* Here is the FAQ styling */
.faq-section {
  background-color: var(--black-color);
  padding: var(--section-padding);
}
.faq-section h3 {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 0;
}
.faq-questions {
  margin-top: 2rem;
}
.faq .faq-ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  column-gap: 2rem;
  color: var(--white-color);
  cursor: pointer;
  user-select: none;
  padding: 15px 0;
}
.faq .faq-ask h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
}
.faq .faq-ask span svg {
  width: 20px;
  height: 25px;
  transition: 0.6s ease;
}
.faq .faq-answer {
  position: relative;
  height: 0;
  opacity: 0;
  transition: all 0.6s ease;
  overflow: hidden;
}
.faq .faq-answer p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--white-color);
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.faq {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.faq:last-child {
  border: none;
}
.faq.active .faq-answer {
  opacity: 1;
}
.faq.active .faq-ask span svg {
  transform: rotate(-45deg);
}
.faq .faq-ask:hover span svg path {
  transition: 0.6s ease;
  fill: var(--primary-color);
}
.faq .faq-ask:hover h5 {
  transition: 0.6s ease;
  color: var(--primary-color);
}

/* Using for lenis */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

/* Contact form section styling here */
.contact-form-section {
  padding: var(--section-padding);
  background-image: url("images/contact-form-background.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 90% 80%;
}
.contact-form-section .contact-form-client-text {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}
.contact-form-section .contact-form-client-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.contact-form-client-logo img:nth-child(1) {
  width: 90px;
  height: auto;
}
.contact-form-client-logo img:nth-child(2) {
  width: 100px;
  height: auto;
}
.contact-form-client-logo img:nth-child(3) {
  width: 80px;
  height: auto;
}
.contact-form-client-logo img:nth-child(4) {
  width: 75px;
  height: auto;
}
.contact-form .contact-form-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact-form {
  width: 100%;
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--white-color);
  background-color: transparent;
  font-size: 1rem;
  font-family: var(--font-family);
  padding: 15px 0;
  font-weight: 500;
}
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--white-color);
  background-color: transparent;
  padding: 15px 0;
  height: 150px;
  resize: vertical;
  font-weight: 500;
  font-family: var(--font-family);
}
#form-submit {
  border: none;
  background-color: var(--black-color);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 25px;
  transition: 0.6s ease;
}
#form-submit:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
#form-submit:active {
  scale: 0.95;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom: 1.5px solid var(--black-color);
}

/* //ABOUT PAGE CSS */

.about-sections {
  background-color: var(--white-color);
  /* padding: var(--section-padding); */
  color: var(--white-color);
}

.about-sections .container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70vh; /* Ensure the container takes the full viewport height */
}
.about-sections .top {
  padding: 10px 0px;
  width: 100%;
  color: black;
}
.about-sections .top h4 {
  color: blue;
}

.bottom {
  background-image: url("https://img.freepik.com/free-photo/happy-young-asia-businessmen-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project-colleagues-working-together-planning-success-strategy-enjoy-teamwork-small-modern-office_7861-2535.jpg?semt=sph");
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

/* //BIG NUMBER */

.big-number {
  /* background-color: var(--black-color); */
  margin-bottom: 20px;
}

/* Our Achivment Styling Here */
.about-achivment-card {
  background-color: var(--primary-color);
  border-radius: 15px;
  margin-top: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.about-achivment-card div {
  text-align: center;
}
.about-achivment-card div p {
  line-height: 1;
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.about-achivment-card div span {
  font-family: var(--font-family);
  line-height: 1;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Vision Section styling here */
.vision-section {
  background-color: var(--light-bakground-color);
  padding: var(--section-padding);
}
.vision-section span {
  color: green;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: var(--font-family);
}

.vision-section img {
  width: 100%;
  border-radius: 15px;
}
.vision-section h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.vision-section p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* //Empower Section  */
.empower-section {
  padding: var(--section-padding);
}
.empower-section .container {
  padding: var(--section-padding);
  background: hsla(152, 100%, 50%, 1); /* Fallback for old browsers */
  background: linear-gradient(
    30deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ff87", endColorstr="#60efff", GradientType=1); /* For IE */
}

.empower-section h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.empower-section span {
  color: blue;
}
