@media screen and (max-width: 1024px) {
  :root {
    --section-padding: 60px 0px;
  }
  .our-achivment-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 1.5rem;
  }
  .casestudy-card {
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
    gap: 20px;
  }
  .case-image {
    border-radius: 15px 15px 0 0;
  }
  .case-image img:first-child {
    height: 250px;
  }
  .why-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-process-work {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .process-card {
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .process-card::before {
    width: 0;
    height: 100%;
    border-right: 2px dashed var(--black-color);
  }
  .process-card div:first-child {
    width: 40px;
    height: 40px;
  }
  .process-card div:first-child svg {
    width: 20px;
    height: 20px;
  }
  .process-card::before {
    top: 40px;
    left: 20px;
  }
  .featured-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .newcontainer {
    height: auto;
    flex-direction: column;
  }
  .left {
    width: 100%;
    border-radius: 0px;
  }

  /* ///new how it works section */

  /* //accordian section */
  .accordian-container {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .accordian-container .accordian {
    width: 100%;
    border-radius: none;
  }
  .accordian-container .Gif-side {
    width: 100%;
    border-radius: none;
    padding: 20px;
  }

  /* Accordian section */
  .accordian-container .Gif-side img {
    margin-top: 10px;
    width: 100%;
  }
  /* //bignumbers*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .icon-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 20px;
  }

  /* //New Custom Tab */
   
  .hero{
    height: 100vh;
  }
  .btn-box {
    width: 100%;
    height: 100px;

    padding: 10px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .btn-box button {
    padding: 10px 10px;
  }
  .content {
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
  }
  .content-right img {
    height: 400px;
    width: 400px;
  }



  /* .content-left p {
    padding-right: 100px;
  } */
}

@media screen and (max-width: 768px) {
  :root {
    --section-padding: 50px 0px;
  }

  h1 {
    font-size: 2.5rem;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.3;
  }
  h2,
  h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3 !important;
  }

  /* Hero section reponsive stying here */
  .hero-content h1 {
    font-size: 2.1rem;
  }
  .hero-content p {
    font-size: 1.2rem;
    margin: 10px 0 30px 0;
  }

  /* About section reponsive styling here */
  .about-section {
    padding: 50px 0 0 0;
  }

  /* Our achivment section reponsive styling here */
  .our-achivment-card {
    margin-top: 50px;
    margin-bottom: -90px;
  }
  .our-achivment-card div {
    text-align: left;
  }
  .our-achivment-card div p {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .our-achivment-card div span {
    font-size: 1rem;
  }

  /* Featured work responsive styling section here */
  .feature-work-section {
    padding: 140px 0 50px 0;
  }
  .featured-projects {
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 15px;
  }
  .featured-projects .featured-project div {
    padding: 20px;
  }
  .featured-projects .featured-project div p {
    margin-top: 5px;
  }

  .newcontainer .left {
    padding: 20px 20px;
  }
  .newcontainer .left p {
    font-size: 1rem;
  }
  .our-form {
    padding: 0px;
  }

  .container .left {
    /* padding: 20px 20px; */
    border-radius: 0%;
  }
  .container .left h2 {
    font-size: 1.8rem;

    margin-bottom: 10px; /* Added margin for spacing */
  }
  .container .left p {
    color: black;
    line-height: 1.9rem;
    margin-bottom: 10px;
    text-wrap: wrap; /* Added margin for spacing */
  }
  #client {
    font-weight: 700;
  }

  .container .right {
    border-radius: 0%;
  }
  .container .right .contactform {
    padding: 20px 30px;
  }
  /* //bignumbers*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 10px 20px;
  }
  .cards .clients {
    text-align: left;
  }
  .cards .clients p {
    line-height: 1;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .cards .clients span {
    font-family: var(--font-family);
    line-height: 1;
    font-weight: 700;
    font-size: 1.1rem;
  }
 


  .hero{
    width: 100%;
    height: 125vh;
    overflow: hidden;  /* Ensure overflow is hidden for the hero container */
    position: relative; /* Add position relative to properly position absolute children */
   
  }
  /* //New Custom Tab */

  .btn-box {
    width: 100%;
    height: 100px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
    gap: 0px;
     
    margin: 5px 0px 0px 0px;
  }
  .btn-box button {
     
    padding: 10px;
    font-size: 0.8rem;
    gap: 5px;
    margin: 5px 0px 0px 0px;
     
    font-weight: 500;
    
    
    

  }
 

  .content {
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
  }
  
  .content-left  {
   padding: 0;
  }
  .content-left p {
     padding: 0px 20px 0px 0px;
     font-size: 1rem;
     line-height: 1.4rem;
  }
  .content-right {
    height: 100vh; /* Adjust the height as needed */
    width: 100%; 
  }
  .content-right img {
    height: 100%;
    width: 100%; 
  }



  /* //BIG NUMBER */
  .cards .clients {
    text-align: center;
   
    padding: 20px 0px; 
    
  }
  .cards .clients p {
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
  }
  

  /* //new ACCordian */

  .accordian-container .accordian {
    width: 100%;
    /* padding: 0px 20px; */
  }
  .faq-questions2 {
    margin-top: 1rem;
    padding: 20px 10px;
  }

  .faq .faq-ask {
    
    padding: 10px 0px;
  }





  /* //FAQ2 */
  .faq-questions2 {
    padding: 10px 10px;
    margin-top: 0.5rem;
  }
}

