@media screen and (max-width: 1195px) {
  .column-reverse-reponsive {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form {
    max-width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --section-padding: 40px 0px;
  }
  .our-achivment-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 1.5rem;
  }
  .casestudy-card {
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
    gap: 20px;
  }
  .case-image {
    border-radius: 15px 15px 0 0;
  }
  .case-image img:first-child {
    height: 250px;
  }
  .why-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-process-work {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .process-card {
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .process-card::before {
    width: 0;
    height: 100%;
    border-right: 2px dashed var(--black-color);
  }
  .process-card div:first-child {
    max-width: 40px;
    max-height: 40px;
  }
  .process-card div:first-child svg {
    width: 20px !important;
    height: 20px !important;
  }
  .process-card::before {
    top: 40px;
    left: 20px;
  }
  .process-card h4 {
    font-size: 1.5rem;
  }
  .featured-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .newcontainer {
    height: auto;
    flex-direction: column;
  }
  .left {
    width: 100%;
    border-radius: 0px;
  }

  /* ///new how it works section */

  /* //accordian section */
  .accordian-container {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .accordian-container .accordian {
    width: 100%;
    border-radius: none;
  }
  .accordian-container .Gif-side {
    width: 100%;
    border-radius: none;
    padding: 20px;
  }

  /* Accordian section */
  .accordian-container .Gif-side img {
    margin-top: 10px;
    width: 100%;
  }
  /* //bignumbers*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .icon-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 20px;
  }

  /* //New Custom Tab */

  .hero {
    height: 100vh;
  }
  .btn-box {
    width: 100%;
    height: 100px;

    padding: 10px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .btn-box button {
    padding: 10px 10px;
  }
  .content {
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
  }
  .content-right img {
    height: 400px;
    width: 400px;
  }

  /* //Navbar */
  .sidebar {
    background-color: rgba(214, 214, 214, 0.55);

    backdrop-filter: blur(10px);
  }
  .navbar-toggler-icon {
    color: white;
  }

  /* //Sub-Services page starts here  */

  .Reason-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0px;
    gap: 20px;
  }
  .text p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin-bottom: 10px;
  }
  .text h4 {
    font-size: 2rem;

    margin: 10px 0px 20px 0px;
  }

  .Video-cards {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 30px 0px; */
    gap: 30px;
  }

  .textform {
    width: 100%;
    padding: 10px 0px 20px 20px;
  }
  .textform h4 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.2rem;
  }
  .video-card-body h5 {
    padding: 10px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .video-card-body p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
  }

  .about-achivment-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 1.5rem;
  }
  /* OUR TEAM */

  .Team-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-card {
    
    padding: 20px ;
  
    
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-padding: 40px 0px;
  }

  h1 {
    font-size: 1.9rem;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.3;
  }
  h2,
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3 !important;
  }
  p {
    font-size: 1rem;
  }

  /* Header section responsive styling here */
  .navbar {
    padding: 10px 0;
  }
  .logo {
    width: 180px;
  }

  /* Hero section responsive stying here */
  .hero-content p {
    font-size: 1rem;
    margin: 10px 0 25px 0;
  }
  .hero-section {
    min-height: 55vh;
    align-items: end;
    justify-content: start;
    padding: 130px 15px 50px 15px;
  }

  /* About section reponsive styling here */
  .about-section {
    padding: 50px 0 0 0;
  }

  /* Our achivment section reponsive styling here */
  .our-achivment-card {
    margin-top: 40px;
    margin-bottom: -90px;
  }
  .our-achivment-card div {
    text-align: left;
  }
  .our-achivment-card div p {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .our-achivment-card div span {
    font-size: 0.9rem;
  }

  /* Featured work responsive styling section here */
  .feature-work-section {
    padding: 130px 0 40px 0;
  }
  .featured-projects {
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 15px;
  }
  .featured-projects .featured-project div {
    padding: 20px;
  }
  .featured-projects .featured-project div p {
    margin-top: 5px;
  }
  .featured-projects .featured-project div h4 {
    font-size: 1.5rem;
  }
  .newcontainer .left {
    padding: 20px 20px;
  }
  .newcontainer .left p {
    font-size: 1rem;
  }
  .our-form {
    padding: 0px;
  }
  .why-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .container .left {
    /* padding: 20px 20px; */
    border-radius: 0%;
  }
  .container .left h2 {
    font-size: 1.8rem;

    margin-bottom: 10px; /* Added margin for spacing */
  }
  .container .left p {
    color: black;
    line-height: 1.9rem;
    margin-bottom: 10px;
    text-wrap: wrap; /* Added margin for spacing */
  }
  #client {
    font-weight: 700;
  }

  .container .right {
    border-radius: 0%;
  }
  .container .right .contactform {
    padding: 20px 30px;
  }
  /* //bignumbers*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 10px 20px;
  }
  .cards .clients {
    text-align: left;
  }
  .cards .clients p {
    line-height: 1;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .cards .clients span {
    font-family: var(--font-family);
    line-height: 1;
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* Case studies section responsive styling here */
  .case-content h4 {
    font-size: 1.5rem;
  }
  .case-content h5 {
    font-size: 0.9rem;
  }
  .case-tags p {
    font-size: 0.8rem;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: var(--black-color);
    font-weight: 700;
  }
  .case-content p {
    font-size: 0.9rem;
  }
  .case-tags {
    margin: 10px 0 15px 0;
  }
  .case-overlay,
  .case-image,
  .case-image img:first-child,
  .case-image img:last-child {
    display: none;
  }
  .casestudy-card {
    gap: 0px;
    padding: 20px;
    min-height: 100%;
  }

  /* Our Services section responsive styling here */
  .services-card h4 {
    font-size: 1.5rem;
  }
  .services-card .related-services p {
    font-size: 0.9 rem;
  }

  /* Testimonial Section responsive styling here */
  .testimonial-section .rating {
    font-size: 0.9rem;
    gap: 10px;
    border-radius: 30px;
    padding: 12px 15px;
  }

  /* FAQ Section responsive styling here */
  .faq .faq-ask h5 {
    font-size: 1rem;
  }
  .faq .faq-answer p {
    font-size: 0.9rem;
  }

  /* Why Section responsive styling here */
  .why-content p {
    font-size: 1rem;
  }

  /* //EMpower SEction 
   */

   .rightside{
    padding: 0px 20px;
   }

  /* How it Work Section responsive styling here */
  .process-card div:first-child {
    min-width: 40px;
  }

  .about-achivment-card {
  }
  .about-achivment-card div {
    text-align: left;
  }
  .about-achivment-card div p {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .about-achivment-card div span {
    font-size: 0.9rem;
  }
  .team-card h4 {
     
    font-size: 1rem;
     
  }
  .team-card  p {
    font-size: .8rem;
  
  }
}
